.home__content {
  background-color: get-color(primary);
  position: relative;

  .title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 10;
    text-align: center;

    h1 {
      background: linear-gradient(to left, get-color(secondary) 0%, get-color(tertiary) 100%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      font-size: 14rem;
      font-family: get-font(permanent);
      pointer-events: none;

      @media (max-width: $mqMaxWidth) {
        font-size: 9rem;
      }
    }

    button {
      margin-top: 3rem;
      padding: 1rem;
      font-size: get-size(lg);
      text-transform: uppercase;
      background: get-color(primary);
      color: get-color(light);
      font-family: get-font(permanent);
      border: none;

      span {
        font-style: italic;
        text-transform: lowercase;
      }

      @include styled-link-hovered;

      @media (max-width: $mqMaxWidth) {
        font-size: get-size(md);
      }
    }
  }
}


.poster {
  display: flex;
  flex-direction: column;
}

.poster__artist {
  min-height: 200px;
  border-radius: 5px;

 @include artistGridHovered;
}
.artist1 {
  @include backgroundImage("../images/artist3.jpg");
}
.artist2 {
  @include backgroundImage("../images/artist5.jpg");
}
.artist3 {
  @include backgroundImage("../images/artist1.jpg");
}
.artist4 {
  @include backgroundImage("../images/artist2.jpg");
}
.artist5 {
  @include backgroundImage("../images/artist4.jpg");
}
.artist6 {
  @include backgroundImage("../images/artist6.jpg");
}
.artist7 {
  @include backgroundImage("../images/artist7.jpg");
}

@supports (display: grid) {
  .poster {
    display: grid;
    grid-template-columns: repeat(3, 2fr) repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 6px;
  }

  .artist1 {
    grid-area: 1 / 1 / 3 / 3;
  }
  .artist2 {
    grid-area: 3 / 2 / 5 / 4;
  }
  .artist3 {
    grid-area: 3 / 1 / 6 / 2;
  }
  .artist4 {
    grid-area: 1 / 3 / 3 / 4;
  }
  .artist5 {
    grid-area: 5 / 2 / 6 / 4;
  }
  .artist6 {
    grid-area: 1 / 4 / 4 / 6;
  }
  .artist7 {
    grid-area: 4 / 4 / 6 / 6;
  }

}
