<header class="header">
    <div class="header__logo">
        <a href="index.html"><img src="./assets/images/logo.png" alt="Music Festival logo" class="logo" /></a>
    </div>
    <nav class="header__nav navbar">
        <a href="index.html" class="nav-link link--home" aria-label="Home">Home</a>
        <a href="bands.html" class="nav-link link--bands" aria-label="Bands">Bands</a>
        <a href="blog.html" class="nav-link link--blog" aria-label="Blog">Blog</a>
        <a href="gallery.html" class="nav-link link--gallery" aria-label="Your Tag!">Tag!</a>
    </nav>
</header>


