
@mixin artistGridHovered {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

  &:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}

@mixin backgroundImage($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



@mixin styled-link-hovered {
  transition:  all 2s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    background: get-color(light);
    color: get-color(primary) !important;
    cursor: pointer;
    -webkit-transition:opacity 1500ms ease-out;
    -moz-transition:opacity 1500ms ease-out;
    -o-transition:opacity 1500ms ease-out;
    transition:opacity 1500ms ease-out;
  }
}
